<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>

  <add key="FTPS" value="true" />

  <add key="HostName" value="ftp.edimusl.net" />
  <add key="Port" value="22" />
  <add key="UserName" value="EDUMMU\USER" />
  <add key="Password" value="PASSWORD" />
  
  <add key="PrivateKeyPassphrase" value="PASSPHRASE" />

  <add key="SshHostKeyFingerprint" value="00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00" />

  <add key="SshPrivateKeyPath" value="C:\RISKMASTER\SSL\NewerThanNew\EdiMuslFTPClient.pfx" />

  <add key="LoggingDirectoryPath" value="C:\RISKMASTER\KCGRiskmasterFTP"/>

  <add key="RiskMasterRemoteDirectory" value="HRInterface" />
  <add key="RiskMasterLocalDirectory"  value="C:\RISKMASTER\KCGRiskmasterFTP" />
  <add key="RiskMasterArchiveDirectory" value="C:\RISKMASTER\KCGRiskmasterFTP\Archive" />
  <add key="HRInterfaceFilename" value = "HRInterface.txt" />
  
  <add key="OrbitImportRemoteDirectory" value="PrintCheck" />
  <add key="OrbitImportLocalDirectory"  value="C:\RISKMASTER\KCGRiskmasterFTP" />
  
</appSettings>
</configuration>